<div th:fragment="footer">
    <div id="snackbar"></div>
    <footer id="footer"><!--Footer-->
        <div class="footer-widget">
            <div class="container">
                <div class="row">
                    <div class="col-sm-2">
                        <div class="single-widget">
                            <h2>Сервис</h2>
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="/contact">Контакты</a></li>
                                <li><a href="/delivery">Доставка</a></li>
                                <li><a href="/pay">Оплата</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="single-widget">
                            <h2>Статьи</h2>
                            <ul class="nav nav-pills nav-stacked">
                                <li><a href="/ofetra">Пользовательское соглашение</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="single-widget">
                            <h2>Мы в соцсетях</h2>
                            <div id="socialN">
                                <a href="https://www.instagram.com" target="_blank"><i
                                        class="fa fa-instagram fa-2x"></i></a></li>
                                <a href="https://www.facebook.com" target="_blank"><i class="fa fa-facebook fa-2x"></i></a>
                                <a href="https://twitter.com" target="_blank"><i class="fa fa-twitter fa-2x"></i></a>
                                <a href="https://www.vk.com" target="_blank"><i class="fa fa-vk fa-2x"></i></a>
                                <a href="https://www.pinterest.com" target="_blank"><i
                                        class="fa fa-pinterest fa-2x"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="companyinfo">
                            <h2><span>dodoshop</span>@gmail.com</h2>
                            <p>"Мы здесь, чтобы вдохновлять вас."</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <!-- <p class="pull-left">©Все права защищены.</p> -->
                    <p class="pull-right">DodoBook, разработано студенкой гр.173601 Мамайко В.Ю.</p>
                </div>
            </div>
        </div>

    </footer>
</div>