<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <div th:insert="~{/fragments/headLinks :: head_fragment}"></div>
    <script>
        const createBucketItem = (filledOrderBook) => {
            console.log(filledOrderBook.id)
            const tr = $('<tr></tr>')
            const td1 = $('<td class="cart_product"> <a><img src="' + filledOrderBook.image + '" alt="" height=50px></a></td>')
            const td2 = $('<td class="cart_description"><h4><a href="">' + filledOrderBook.name + '</a></h4></td>')
            const td3 = $('<td class="cart_price"><p>' + filledOrderBook.price + '</p></td>')
            const td4 = $('<td class="cart_quantity"></td>')

            const td4_div = $('<div class="cart_quantity_button"></div>')
            const td4_div_a1 = $('<a class="cart_quantity_up"> + </a>')
            td4_div_a1.click(() => ajaxPOSTWithoutResponse('/api/bucket/action', {
                bookId: filledOrderBook.id,
                action: 'ADD_BOOK'
            }, () => {
                reloadCart()
            }))
            const td4_div_input = $('<input class="cart_quantity_input" type="text" name="quantity" value="' + filledOrderBook.bookCount + '" autocomplete="off" size="2" disabled>')
            const td4_div_a2 = $('<a class="cart_quantity_down"> - </a>')
            td4_div_a2.click(() => ajaxPOSTWithoutResponse('/api/bucket/action', {
                bookId: filledOrderBook.id,
                action: 'SUBTRACT_BOOK'
            }, () => {
                reloadCart()
            }))
            td4_div.append(td4_div_a1, td4_div_input, td4_div_a2)
            td4.append(td4_div)

            const td5 = $('<td class="cart_total"><p class="cart_total_price">' + (filledOrderBook.bookCount * filledOrderBook.price).toFixed(2) + '</p></td>')
            const td6 = $('<td class="cart_delete"><a class="cart_quantity_delete"><i class="fa fa-times"></i></a></td>')
            td6.click(() => ajaxPOSTWithoutResponse('/api/bucket/action', {
                bookId: filledOrderBook.id,
                action: 'DELETE_BOOK'
            }, () => {
                reloadCart()
            }))

            tr.append(td1, td2, td3, td4, td5, td6)

            return tr;
        }

        const reloadCart = () => {
            ajaxGET('/api/bucket', (bucket => {
                const cartTableBody = $('#cartTableBody');
                cartTableBody.empty();
                bucket.books.forEach(bookInBucket => cartTableBody.append(createBucketItem(bookInBucket)))

                const trTotal = $('<tr> <td colspan="4">&nbsp;</td> <td colspan="2"><table class="table table-condensed total-result"> <tr> <td>Total</td> <td><span>' +
                    bucket.books.reduce((acc, obj) => acc + (obj.bookCount * obj.price), 0)
                    + ' P</span></td> </tr></table></td></tr>')
                cartTableBody.append(trTotal)

                $('#do_action').attr("hidden", bucket.length === 0);
            }))
        }

        $(document).ready(() => {
            reloadCart();
            $('#addressForm').submit(event => {
                event.preventDefault();
                const body = {};
                console.log($('#addressForm').serializeArray())
                $.each($('#addressForm').serializeArray(), (i, field) => {
                    body[field.name] = field.value;
                })
                ajaxPOSTWithoutResponse('/api/bucket/submit', body, () => {
                    window.location.href = '/catalog'
                })
            });
        });
    </script>
</head>
<body>



<div th:replace="~{/fragments/header :: header}"></div>
<section id="cart_items">
    <div class="container">
        <div class="table-responsive cart_info">
            <table class="table table-condensed">
                <thead>
                <tr class="cart_menu">
                    <td class="image">Книга</td>
                    <td class="description"></td>
                    <td class="price">Цена</td>
                    <td class="quantity">Количество</td>
                    <td class="total">Стоимость</td>
                    <td></td>
                </tr>
                </thead>
                <tbody id="cartTableBody">

                </tbody>
            </table>
        </div>
    </div>
</section>

<section id="do_action">
    <div class="container">
        <div class="heading">
            <h3>Оформление заказа</h3>
            <p>Пожалуйста, введите корректные данные для гарантированного получения товара.
                <br>Необходимо произвести полную оплату товара при оформлении.
            </p>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <form class="chose_area" id="addressForm">
                    <ul class="user_info">
                        <li class="single_field zip-field">
                            <label>Номер телефона:</label>
                            <input name="tel" type="tel" pattern="\+375[0-9]{2}[0-9]{7}" placeholder="+375xxxxxxxxx"
                                   required value="">
                        </li>
                    </ul>
                    <ul class="user_info">
                        <li class="single_field zip-field">
                            <label>Область:</label>
                            <input name="region" type="text" required value="">
                        </li>
                        <li class="single_field zip-field">
                            <label>Город:</label>
                            <input name="city" type="text" required value="">
                        </li>
                        <li class="single_field zip-field">
                            <label>Индекс:</label>
                            <input name="zip" type="number" required value="220023">
                        </li>
                    </ul>
                    <ul class="user_info">
                        <li class="single_field zip-field">
                            <label>Улица:</label>
                            <input name="street" type="text" required value="">
                        </li>
                        <li class="single_field zip-field">
                            <label>Дом:</label>
                            <input name="house" type="text" required value="">
                        </li>
                        <li class="single_field zip-field">
                            <label>Квартира:</label>
                            <input name="flat" type="text" required value="">
                        </li>
                    </ul>
                    <button id="addressFormButton" class="btn btn-default update" type="submit">Оформить заказ</button>
                </form>
            </div>
        </div>
    </div>
</section>

<div th:replace="~{/fragments/footer :: footer}"></div>
</body>
</html>