<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/index.css}" rel="stylesheet">
    <div th:insert="~{/fragments/headLinks :: head_fragment}"></div>
</head>
<body>
<div th:replace="~{/fragments/header :: header}"></div>

<section id="form"><!--form-->
    <div class="container">
        <div class="row">
            <div class="col">
                <div id="firebaseui-auth-container">
                    <!-- This is where the Login ui will load -->
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Firebase UI -->
<script src="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.js"></script>
<link
        type="text/css"
        rel="stylesheet"
        href="https://cdn.firebase.com/libs/firebaseui/3.5.2/firebaseui.css"
/>
<script type="text/javascript" th:src="@{/js/auth.js}"></script>

<div th:replace="~{/fragments/footer :: footer}"></div>
</body>
</html>