<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <div th:insert="~{/fragments/headLinks :: head_fragment}"></div>
</head>
<body>
<div th:replace="~{/fragments/header :: header}"></div>
<div id="contact-page" class="container">
    <div class="bg">
        <div class="row">
            <div class="col-sm-12 padding-right">
                <div class="features_items">
                    <h2 class="title text-center">Пользовательское соглашение</h2>
                    <p> ПРИМЕР ТЕКСТА<br> 1. Настоящий договор определяет порядок ведения Продавцом купли-продажи Товара через интернет-магазин Dodobook
                        в соответствии со ст. 405 Гражданского кодекса Республики Беларусь и является официальной публичной
                        офертой Продавца, адресуемой неопределенному кругу лиц.<br>
                        2. Фактом принятия (акцепта) Покупателем условий настоящего Договора является сообщение о выборе и заказе товара,
                        отправленное путем нажатия кнопки «Оформить» в разделе «Корзина» посредством сайта интернет-магазина Dodobook
                        в порядке и на условиях, определенных настоящим Договором и условиями.<br>
                        3. Количество и наличие товара, заявленное Продавцом на сайте интернет-магазина Dodobook, может отличаться от
                        фактического на складе и в магазинах Продавца. <br>
                        4. Договор считается исполненным Продавцом с момента доставки Товара в место, указанное Покупателем в параметрах Заказа
                        при оформлении его в разделе «Корзина» на сайте интернет-магазина Dodobook. Покупатель вправе отказаться от исполнения
                        Договора до передачи товара при условии возмещения продавцу необходимых расходов, понесенных в связи с совершением
                        действий по выполнению договора. Отказ от получения заказа, не подлежащего возврату постащику,
                        возможен только с согласия Продавца.<br>
                        5. Книжная продукция обмену и возврату не подлежит. Перед отправкой почтой книги проверяются Продавцом на наличие дефектов.
                        При наличии дефектов и отсутствия другого экземпляра вопрос отправки согласуется с покупателем.<br>
                        6. При отправке наложенным платежом взымается дополнительная плата за перевод денег.<br>
                        <br>
                    </p>
                    <br>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="~{/fragments/footer :: footer}"></div>
</body>
</html>