<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <div th:insert="~{fragments/headLinks :: head_fragment}"></div>
    <script>
        $(document).ready(() => {
            const urlParams = new URLSearchParams(window.location.search);
            ajaxGET('/api/item/' + urlParams.get('item'), items=> {
                $('#image').attr('src', items.image)
                $('#name').text(items.name)
                $('#brands').append('<b>Бренд: </b>', items.brands.map(a=>a.name).join(', '))
                $('#categories').append('<b>Категории: </b>', items.categories.map(a=>a.name).join(', '))
                $('#country').append('<b>Страна производства: </b>', items.country)
                $('#group').append('<b>Целевая группа покупателей: </b>', items.group.name)
                $('#price').append(items.price+' Р')

                $('#AddToCart').click(() => {
                    console.log('ID:', items.id);
                    ajaxPOSTWithoutResponse('/api/bucket/action', {bookId: items.id, action: 'APPEND_ITEM'},
                        () => showMessage("Товар добавлен в корзину", 1000))
                })
            })
        })
    </script>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-9 padding-right">
                <div class="product-details">
                    <div class="col-sm-5">
                        <div class="view-product">
                            <img id="image" alt=""/>
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <div class="product-information">
                            <h2 id="name"></h2>
                            <span>
								<span id="price"></span>
                                    <button sec:authorize="hasRole('ROLE_USER')" id="AddToCart" type="button" class="btn btn-default cart">
                                        <i class="fa fa-shopping-cart"></i>
                                        В корзину
                                    </button>
							</span>
                            <p id="brands"></p>
                            <p id="categories"></p>
                            <p id="country"></p>
                            <p id="group"></p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>